<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>732397824910-ce9acd56qq2isilik9q9mrnbfnh55odc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732397824910-ce9acd56qq2isilik9q9mrnbfnh55odc</string>
	<key>API_KEY</key>
	<string>AIzaSyAzBEhHpi9jYqf0XLmxE2a1JMApIB6B05I</string>
	<key>GCM_SENDER_ID</key>
	<string>732397824910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adratech.snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-ac352</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-ac352.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:732397824910:ios:af847cf61a8d22b2</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-ac352.firebaseio.com</string>
</dict>
</plist>